.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #2874F0; /* Flipkart's signature blue */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0.5;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  